<%= simple_form_for @product, html: {mutipart: true} do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


 

<div class="field">
    <%= f.input :category %><br>
    
  </div>

  <div class= "item">
    <%=f.simple_fields_for :items do |item|%>
    <%= render 'item_fields', f: item%>
    <div class="links">
      <%=link_to_add_association 'Add Item', f, :items%>
          </div>
    <%end%>
  </div>




  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
