<div class= "nav navbar navbar-default">
	<div class= "container">
		<div class="nabar-brand">
			<%=link_to "Rent-All", root_path%>
			<ul class= "nav navbar-nav navbar-right">
				<li><%=link_to "New Product", new_product_path%></li>
				<%if user_signed_in?%>
				
				<li><%=link_to "Sign Out", destroy_user_session_path, method: :delete%></li>
				<%else%>
				<li><%=link_to "Login", new_user_session_path%></li>
				<li><%=link_to "Sign up", new_user_registration_path%></li>
				<%end%>
				
			</ul>
		</div>
	</div>
</div>